<h1>Welcome to Component Home</h1>
<p class="spa">Chào bạn {{ name }}!</p>
<p class="spa">Bạn đã {{ age }} tuổi</p>

<span *ngIf="age < 18" class="underAge">Bạn dưới 18 tuổi, bạn dưới tuổi vị thành niên!</span>
<br>
<span *ngIf="age >=18" class="overAge">Bạn trên 18 tuổi, bạn đã trưởng thành rồi!</span>
<br>
<h2>Danh sách xe</h2> <br>
<div *ngFor="let thuonghieu of thuonghieus">
  <li>{{ thuonghieu }}</li>
</div>
<br>
<div>
  <select>
    <option *ngFor="let thuonghieu of thuonghieus">
      {{thuonghieu}}
    </option>
  </select>
</div>





