<h1>Welcome to Component Home</h1>
<p class="spa">Chào bạn {{ name | uppercase }} </p>
<p class="spa">Bạn đã {{ age | number: "1.0-4" }} tuổi</p>

<!-- <span *ngIf="age < 18" class="underAge">Bạn dưới 18 tuổi, bạn dưới tuổi vị thành niên!</span> -->
<!-- <br> -->
<!-- <span *ngIf="age >=18" class="overAge">Bạn trên 18 tuổi, bạn đã trưởng thành rồi!</span> -->
<!-- <span *ngIf="age >=18" >Bạn trên 18 tuổi, bạn đã trưởng thành rồi!</span> -->
<span *ngIf="age < 18; then condition1; else condition2" class="underAge"></span>
<br>
<ng-template #condition1 class="underAge">Bạn dưới 18 tuổi</ng-template>
<ng-template #condition2 class="overAge">Bạn trên 18 tuổi, bạn đã trưởng thành rồi!</ng-template>
<br>
<h2 onclick="alert('Hello!')">Danh sách xe</h2> <br>
<div *ngFor="let thuonghieu of thuonghieus">
  <li>{{ thuonghieu }}</li>
</div>
<br>
<div>
  <select>
    <option *ngFor="let thuonghieu of thuonghieus">
      {{thuonghieu}}
    </option>
  </select>
</div>
<br>
<input [(ngModel)]="name">
<br>
<button (click)="tangTuoi()">Tăng tuổi</button>
<br><br>
<span>{{thuonghieus | json }}</span>




